@media only screen and (min-width: 1302px) and (max-width: 1600px)
  html
    body
      .navMobi
        display: none
      .main
        .container
          .content
            .sidebar-left
              .slogan
                padding-top: 120px
                font-size: 2.5em
                line-height: 1.5em
        .container-page-1
          .img-x
            height: auto
          .img-z
            width: 45%
            height: 90%
          .content
            .article
              .text
                h2
                  padding-top: 7.5em
                  font-size: 1.5em
                  line-height: 1.5em
                hr
                  margin: 15px 0
                p
                  font-size: 1em !important
              .phone
                padding-top: 4em
                .iphone
                  height: 98%
                .screen
                  width: 255px
                  height: 550px
                  margin: 32px 0 0 45px
        .container-page-2
          .img-c
            height: 20%
          .content
            .arrow
              margin: 150px 0 0 100px
            .article
              .text
                h2
                  padding-top: 8em
                  font-size: 1.5em
                  line-height: 1.5em
                hr
                  margin: 15px 0
                p
                  font-size: 1em !important
              .phone
                padding-top: 3em
                .iphone
                  height: 100%
                .screen
                  width: 255px
                  height: 550px
                  margin: 32px 0 0 45px
        .container-page-3
          .content
            .article
              .text
                h2
                  padding-top: 8em
                  font-size: 1.5em
                  line-height: 1.5em
                hr
                  margin: 1em 0
                p
                  font-size: 1em !important
              .phone
                padding-top: 3em
                .iphone
                  height: 100%
                .screen
                  width: 255px
                  height: 550px
                  margin: 32px 0 0 45px
        .container-page-4
          .content
            .content-5
              h2
                font-size: 1.5em
                line-height: 1em
              hr
              p
                font-size: 1em !important
              .div-phone
                .iphone2
                  width: auto
                .iphone2-sreen
                  width: 20%
                  margin-left: 43px
                  margin-top: 30px
/* Dành cho máy tính bảng chiều ngang */
@media only screen and (min-width: 1024px) and (max-width: 1301px)
  html
    body
      nav
        .menu
          .get-in-touch
            button
              font-size: 15px
              width: 140px
              height: 35px
          .nav
            ul
              .li-menu
                a
                  font-size: 16px
      .navMobi
        display: none

      .main
        .container
          .wrapper
            max-width: 1000px
            .content
              .sidebar-right
                margin-top: -70px
                .shape
                  .shape-icon9
                    margin: 68%
                  .shape-icon7
                    margin: 68%
                  .shape-1
                    .shape-icon6
                      margin: 68%
                    .shape-icon5
                      margin: 68%
                    .shape-2
                      .shape-icon4
                        margin: 68%
                      .shape-icon3
                        margin: 68%
              .sidebar-left
                padding-top: 50px
                .slogan
                  font-size: 43px
                h6
                  font-size: 13px
                .form
                  form
                    .input
                      padding-top: 11px
                      font-size: 12px
                    button
                      font-size: 15px
                      width: 100px
                      height: 30px



        .container-page-1
          .content
            max-width: 1000px
            .article
              .text
                p
                  font-size: 16px
                hr
                  margin: 20px 0
                h2
                  padding-top: 115px
                  font-size: 29px
              .phone
                padding-top: 10px
                .iphone
                  width: 63%
                .screen
                  width: 49%
                  height: 480px
                  margin: 28px 0 0 41px

        .container-page-2
          .content
            max-width: 1000px
            .article
              .text
                p
                  font-size: 16px
                hr
                  margin: 20px 0
                h2
                  padding-top: 115px
                  font-size: 29px
              .phone
                padding-top: 10px
                .iphone
                  width: 63%
                .screen
                  width: 49%
                  height: 400px
                  margin: 26px 0 0 35px
        .container-page-3
          .content
            max-width: 1000px
            .article
              .text
                p
                  font-size: 16px
                hr
                  margin: 20px 0
                h2
                  padding-top: 115px
                  font-size: 29px
              .phone
                padding-top: 10px
                .iphone
                  width: 63%
                .screen
                  width: 49%
                  height: 480px
                  margin: 28px 0 0 41px
        .container-page-4
          .content
            max-width: 1000px
            .content-5
              .div-phone
                margin-left: -70px
                .screen
                  width: 265px
                  height: 550px
                  margin-top: 35px
                  margin-left: 76px

                .iphone2
                  width: 35%
                  margin-left: 27px

              p
                font-size: 16px
              h2
                padding-top: 120px
/* Dành cho máy tính bảng chiều dọc */
@media only screen and (min-width: 768px) and (max-width: 1023px)
  html
    body
      .navMobi
        display: none
      .main
        .container
          width: 100%
        .container-page-1
        .container-page-2
        .container-page-3
        .container-page-4
@media only screen and (min-width: 601px) and (max-width: 767px)
  html
    body
      .main
        .container
          .wrapper
            max-width: 600px
            .content
              padding-top: 50px
              .sidebar-right
                margin-left: 0
                .shape
                  .shape-icon9
                    margin: 47%
                  .shape-icon7
                    margin: 47%
                  .shape-1
                    .shape-icon6
                      margin: 47%
                    .shape-icon5
                      margin: 47%
                    .shape-2
                      .shape-icon4
                        margin: 47%
                      .shape-icon3
                        margin: 47%
              .sidebar-left
                padding-top: 20px
                .div-h6
                  padding-top: 30px
                  width: 380px
                  h6
                    font-size: 16px
                    height: 44px
                .slogan
                  font-size: 35px
                  padding-top: 15px
                  line-height: 40px

                .form
                  margin-top: 20px
                  width: 420px
                  form
                    padding: 0
                    button
                      font-size: 11px
                      margin: 6px 0
                      width: 100px
                      height: 27px
                    .input
                      width: 270px
                      font-size: 10px
                .arrow
                  display: none
        .container-page-1
          .img-z
            height: 40%
          .content
            max-width: 600px
            .article
              padding-top: 20px
              .phone
                text-align: center
                padding-top: 0
              .text
                h2
                  padding-top: 60px
                  font-size: 25px
                  line-height: 30px
                hr
                  margin: 10px 0
                p
                  text-align: justify
                  font-size: 15px
                  line-height: 20px
                .arrow
                  display: none
        .container-page-2
          .content
            max-width: 600px
            .article
              .phone
                padding-top: 0px
              .text
                h2
                  padding-top: 60px
                  font-size: 25px
                  line-height: 30px
                hr
                  margin: 10px 0
                p
                  text-align: justify
                  font-size: 15px
                  line-height: 20px
        .container-page-3
          .leftPage3
            display: none
          .content
            max-width: 600px
            .article
              padding-top: 20px
              .phone
                text-align: center
                padding-top: 0
              .text
                h2
                  padding-top: 60px
                  font-size: 25px
                  line-height: 30px
                hr
                  margin: 10px 0
                p
                  font-size: 15px
                  line-height: 20px
                .arrow
                  display: none
        .container-page-4
          .content
            max-width: 600px
            .content-5
              .div-phone
                .iphone2
                  width: auto

              .text
                h2
                  padding-top: 60px
                  font-size: 25px
                  line-height: 30px
                p
                  font-size: 15px
                  line-height: 20px
                  br
                    display: none
@media only screen and (min-width: 420px) and (max-width: 600px)
  html
    body
      .navbar
        display: none
      .main
        .container
          .wrapper
            max-width: 415px
            .content
              padding-top: 50px
              .sidebar-right
                margin-left: -100px
                .shape
                  .shape-icon9
                    margin: 68%
                  .shape-icon7
                    margin: 68%
                  .shape-1
                    .shape-icon6
                      margin: 68%
                    .shape-icon5
                      margin: 68%
                    .shape-2
                      .shape-icon4
                        margin: 68%
                      .shape-icon3
                        margin: 68%
              .sidebar-left
                padding-top: 20px
                .div-h6
                  padding-top: 30px
                  width: 380px
                  h6
                    font-size: 16px
                    height: 44px
                .slogan
                  font-size: 30px
                  padding-top: 15px
                  line-height: 40px

                .form
                  margin-top: 20px
                  width: 400px
                  form
                    padding: 0
                    button
                      font-size: 11px
                      margin: 6px 0
                      width: 100px
                      height: 27px
                    .input
                      width: 270px
                      font-size: 10px
                .arrow
                  display: none
        .container-page-1
          .img-z
            height: 40%
          .content
            .article
              padding-top: 20px
              .phone
                text-align: center
                padding-top: 0
                .iphone
                  width: 250px
                .screen
                  margin: 20px 0 0 35px
                  width: 180px
                  height: 400px
              .text
                h2
                  padding-top: 50px
                  font-size: 20px
                  line-height: 30px
                hr
                  margin: 7px 0
                  height: 4px
                p
                  text-align: justify
                  font-size: 13px
                  line-height: 20px
                .arrow
                  display: none
        .container-page-2
          .content
            // max-width: 415px
            .article
              .phone
                text-align: center
                padding-top: 0
                .iphone
                  width: 250px
                .screen
                  margin: 20px 0 0 35px
                  width: 180px
                  height: 400px
              .text
                h2
                  padding-top: 0px
                  font-size: 20px
                  line-height: 30px
                hr
                  margin: 7px 0
                  height: 4px
                p
                  text-align: justify
                  font-size: 13px
                  line-height: 20px
        .container-page-3
          .leftPage3
            display: none
          .content
            .article
              padding-top: 20px
              .phone
                text-align: center
                padding-top: 0
                .iphone
                  width: 250px
                .screen
                  margin: 20px 0 0 35px
                  width: 180px
                  height: 400px
              .text
                h2
                  padding-top: 0px
                  font-size: 20px
                  line-height: 30px
                hr
                  margin: 7px 0
                  height: 4px
                p
                  font-size: 13px
                  line-height: 20px
        .container-page-4
          .content
            // max-width: 415px
            .content-5
              .div-phone
                .iphone2
                  width: 250px
                .screen
                  margin: 20px 0 0 35px
                  width: 180px
                  height: 400px
              .text
                h2
                  padding-top: 0px
                  font-size: 20px
                  line-height: 30px
                hr
                  margin-top: 7px
                  margin-bottom: 7px
                  height: 4px
                p
                  font-size: 13px
                  line-height: 20px
                  br
                    display: none

@media only screen and (max-width: 419px)
  html
    body
      .navbar
        // display: none
      .main
        .container
          .wrapper
            max-width: 100%
            .content
              padding-top: 50px
              .sidebar-right
                margin-left: -100px
                .shape
                  .shape-icon9
                    margin: 68%
                  .shape-icon7
                    margin: 68%
                  .shape-1
                    .shape-icon6
                      margin: 68%
                    .shape-icon5
                      margin: 68%
                    .shape-2
                      .shape-icon4
                        margin: 68%
                      .shape-icon3
                        margin: 68%
              .sidebar-left
                padding-top: 20px
                .div-h6
                  padding-top: 0px
                  width: 90%
                  h6
                    font-size: 10px
                    height: 40px
                .slogan
                  font-size: 18px
                  padding-top: 0px
                  line-height: 20px

                .form
                  margin-top: 20px
                  width: 100%
                  form
                    padding: 0
                    button
                      font-size: 9px
                      margin: 6px 0
                      width: 70px
                      height: 20px
                    .input
                      width: 76%
                      font-size: 10px
                      padding-top: 9px
                .arrow
                  display: none
        .container-page-1
          .img-z
            height: 40%
          .content
            .article
              padding-top: 20px
              .phone
                text-align: center
                padding-top: 0
                .iphone
                  width: 250px
                .screen
                  width: 185px
                  height: 390px
                  margin: 23px 0 0 32px
              .text
                h2
                  padding-top: 50px
                  font-size: 18px
                  line-height: 20px
                hr
                  margin: 5px 0
                  height: 3px
                  width: 70px
                p
                  text-align: justify
                  font-size: 12px
                  line-height: 15px
                .arrow
                  display: none
        .container-page-2
          .content
            // max-width: 415px
            .article
              .phone
                text-align: center
                padding-top: 0
                .iphone
                  width: 250px
                .screen
                  width: 185px
                  height: 390px
                  margin: 23px 0 0 32px
              .text
                h2
                  padding-top: 0px
                  font-size: 18px
                  line-height: 20px
                  br
                    display: none
                hr
                  margin: 5px 0
                  height: 3px
                  width: 70px
                p
                  text-align: justify
                  font-size: 12px
                  line-height: 15px
        .container-page-3
          .leftPage3
            display: none
          .content
            .article
              padding-top: 20px
              .phone
                text-align: center
                padding-top: 0
                .iphone
                  width: 250px
                .screen
                  width: 185px
                  height: 390px
                  margin: 23px 0 0 32px
              .text
                h2
                  padding-top: 0px
                  font-size: 18px
                  line-height: 20px
                  br
                    display: none
                hr
                  margin: 5px 0
                  height: 3px
                  width: 70px
                p
                  font-size: 12px
                  line-height: 15px
        .container-page-4
          .content
            // max-width: 415px
            .content-5
              .div-phone
                .iphone2
                  width: 250px
                .screen
                  width: 185px
                  height: 390px
                  margin: 23px 0 0 32px
              .text
                h2
                  padding-top: 10px
                  font-size: 18px
                  line-height: 20px
                  br
                    display: none
                hr
                  height: 3px
                  width: 70px
                  margin-top: 5px
                  margin-bottom: 5px
                p
                  font-size: 12px
                  line-height: 15px
                  br
                    display: none
