@charset "UTF-8";
@media only screen and (min-width: 1302px) and (max-width: 1600px) {
  html body .main .container .content .sidebar-left .slogan {
    padding-top: 120px;
    font-size: 2.5em;
    line-height: 1.5em; }
  html body .main .container-page-1 .img-x {
    height: auto; }
  html body .main .container-page-1 .img-z {
    width: 45%;
    height: 90%; }
  html body .main .container-page-1 .content .article .text h2 {
    padding-top: 7.5em;
    font-size: 1.5em;
    line-height: 1.5em; }
  html body .main .container-page-1 .content .article .text hr {
    margin: 15px 0; }
  html body .main .container-page-1 .content .article .text p {
    font-size: 1em !important; }
  html body .main .container-page-1 .content .article .phone {
    padding-top: 4em; }
    html body .main .container-page-1 .content .article .phone .iphone {
      height: 98%; }
    html body .main .container-page-1 .content .article .phone .screen {
      width: 255px;
      height: 550px;
      margin: 32px 0 0 45px; }
  html body .main .container-page-2 .img-c {
    height: 20%; }
  html body .main .container-page-2 .content .arrow {
    margin: 150px 0 0 100px; }
  html body .main .container-page-2 .content .article .text h2 {
    padding-top: 8em;
    font-size: 1.5em;
    line-height: 1.5em; }
  html body .main .container-page-2 .content .article .text hr {
    margin: 15px 0; }
  html body .main .container-page-2 .content .article .text p {
    font-size: 1em !important; }
  html body .main .container-page-2 .content .article .phone {
    padding-top: 3em; }
    html body .main .container-page-2 .content .article .phone .iphone {
      height: 100%; }
    html body .main .container-page-2 .content .article .phone .screen {
      width: 255px;
      height: 550px;
      margin: 32px 0 0 45px; }
  html body .main .container-page-3 .content .article .text h2 {
    padding-top: 8em;
    font-size: 1.5em;
    line-height: 1.5em; }
  html body .main .container-page-3 .content .article .text hr {
    margin: 1em 0; }
  html body .main .container-page-3 .content .article .text p {
    font-size: 1em !important; }
  html body .main .container-page-3 .content .article .phone {
    padding-top: 3em; }
    html body .main .container-page-3 .content .article .phone .iphone {
      height: 100%; }
    html body .main .container-page-3 .content .article .phone .screen {
      width: 255px;
      height: 550px;
      margin: 32px 0 0 45px; }
  html body .main .container-page-4 .content .content-5 h2 {
    font-size: 1.5em;
    line-height: 1em; }
  html body .main .container-page-4 .content .content-5 p {
    font-size: 1em !important; }
  html body .main .container-page-4 .content .content-5 .div-phone .iphone2 {
    width: auto; }
  html body .main .container-page-4 .content .content-5 .div-phone .iphone2-sreen {
    width: 20%;
    margin-left: 43px;
    margin-top: 30px; } }
/* Dành cho máy tính bảng chiều ngang */
@media only screen and (min-width: 1024px) and (max-width: 1301px) {
  html body nav .menu .get-in-touch button {
    font-size: 15px;
    width: 140px;
    height: 35px; }
  html body nav .menu .nav ul .li-menu a {
    font-size: 16px; }
  html body .main .container .wrapper {
    max-width: 1000px; }
    html body .main .container .wrapper .content .sidebar-right {
      margin-top: -70px; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-icon9 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-icon7 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon6 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon5 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon4 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon3 {
        margin: 68%; }
    html body .main .container .wrapper .content .sidebar-left {
      padding-top: 50px; }
      html body .main .container .wrapper .content .sidebar-left .slogan {
        font-size: 43px; }
      html body .main .container .wrapper .content .sidebar-left h6 {
        font-size: 13px; }
      html body .main .container .wrapper .content .sidebar-left .form form .input {
        padding-top: 11px;
        font-size: 12px; }
      html body .main .container .wrapper .content .sidebar-left .form form button {
        font-size: 15px;
        width: 100px;
        height: 30px; }
  html body .main .container-page-1 .content {
    max-width: 1000px; }
    html body .main .container-page-1 .content .article .text p {
      font-size: 16px; }
    html body .main .container-page-1 .content .article .text hr {
      margin: 20px 0; }
    html body .main .container-page-1 .content .article .text h2 {
      padding-top: 115px;
      font-size: 29px; }
    html body .main .container-page-1 .content .article .phone {
      padding-top: 10px; }
      html body .main .container-page-1 .content .article .phone .iphone {
        width: 63%; }
      html body .main .container-page-1 .content .article .phone .screen {
        width: 49%;
        height: 480px;
        margin: 28px 0 0 41px; }
  html body .main .container-page-2 .content {
    max-width: 1000px; }
    html body .main .container-page-2 .content .article .text p {
      font-size: 16px; }
    html body .main .container-page-2 .content .article .text hr {
      margin: 20px 0; }
    html body .main .container-page-2 .content .article .text h2 {
      padding-top: 115px;
      font-size: 29px; }
    html body .main .container-page-2 .content .article .phone {
      padding-top: 10px; }
      html body .main .container-page-2 .content .article .phone .iphone {
        width: 63%; }
      html body .main .container-page-2 .content .article .phone .screen {
        width: 49%;
        height: 400px;
        margin: 26px 0 0 35px; }
  html body .main .container-page-3 .content {
    max-width: 1000px; }
    html body .main .container-page-3 .content .article .text p {
      font-size: 16px; }
    html body .main .container-page-3 .content .article .text hr {
      margin: 20px 0; }
    html body .main .container-page-3 .content .article .text h2 {
      padding-top: 115px;
      font-size: 29px; }
    html body .main .container-page-3 .content .article .phone {
      padding-top: 10px; }
      html body .main .container-page-3 .content .article .phone .iphone {
        width: 63%; }
      html body .main .container-page-3 .content .article .phone .screen {
        width: 49%;
        height: 480px;
        margin: 28px 0 0 41px; }
  html body .main .container-page-4 .content {
    max-width: 1000px; }
    html body .main .container-page-4 .content .content-5 .div-phone {
      margin-left: -70px; }
      html body .main .container-page-4 .content .content-5 .div-phone .screen {
        width: 265px;
        height: 550px;
        margin-top: 35px;
        margin-left: 76px; }
      html body .main .container-page-4 .content .content-5 .div-phone .iphone2 {
        width: 35%;
        margin-left: 27px; }
    html body .main .container-page-4 .content .content-5 p {
      font-size: 16px; }
    html body .main .container-page-4 .content .content-5 h2 {
      padding-top: 120px; } }
/* Dành cho máy tính bảng chiều dọc */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html body nav .menu .get-in-touch {
    margin-left: -50px; }
    html body nav .menu .get-in-touch button {
      font-size: 13px;
      width: 110px;
      height: 30px; }
  html body nav .menu .nav ul {
    padding-left: 25px; }
    html body nav .menu .nav ul .li-menu {
      padding: 5px 15px; }
      html body nav .menu .nav ul .li-menu a {
        font-size: 15px; }
  html body nav .menu .logo {
    margin-left: -30px; }
  html body .main .container .wrapper {
    max-width: 1000px; }
    html body .main .container .wrapper .content .sidebar-right {
      margin-top: 25px;
      margin-left: -180px; }
      html body .main .container .wrapper .content .sidebar-right .path-1 {
        width: 500px;
        height: 500px;
        margin-left: 70px;
        margin-top: 15px; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-icon9 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-icon7 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon6 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon5 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon4 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon3 {
        margin: 68%; }
      html body .main .container .wrapper .content .sidebar-right .pa-right .iphone-x .wow {
        padding: 40px 0 0 32px;
        margin-left: 170px; }
        html body .main .container .wrapper .content .sidebar-right .pa-right .iphone-x .wow .item img {
          width: 205px; }
      html body .main .container .wrapper .content .sidebar-right .pa-right .iphone-x .iphone {
        width: 330px;
        margin-left: 120px;
        margin-top: 0; }
    html body .main .container .wrapper .content .sidebar-left .div-h6 {
      width: 400px;
      padding-top: 80px; }
      html body .main .container .wrapper .content .sidebar-left .div-h6 h6 {
        font-size: 18px; }
    html body .main .container .wrapper .content .sidebar-left .slogan {
      font-size: 30px;
      padding-top: 55px; }
    html body .main .container .wrapper .content .sidebar-left .form {
      margin-top: 80px; }
      html body .main .container .wrapper .content .sidebar-left .form form {
        padding: 10px 0; }
        html body .main .container .wrapper .content .sidebar-left .form form .input {
          padding-top: 5px;
          font-size: 16px; }
        html body .main .container .wrapper .content .sidebar-left .form form button {
          font-size: 14px;
          width: 80px;
          height: 28px; }
  html body .main .container-page-1 .img-x {
    height: auto; }
  html body .main .container-page-1 .img-z {
    width: 45%;
    height: 75%; }
  html body .main .container-page-1 .content .article .text h2 {
    padding-top: 7em;
    font-size: 1.3em;
    line-height: 1.5em; }
  html body .main .container-page-1 .content .article .text hr {
    margin: 10px 0; }
  html body .main .container-page-1 .content .article .text p {
    padding-left: 40px;
    font-size: 1.3em !important; }
  html body .main .container-page-1 .content .article .phone {
    padding-top: 0em; }
    html body .main .container-page-1 .content .article .phone .iphone {
      margin-top: 3em;
      width: 84%; }
    html body .main .container-page-1 .content .article .phone .screen {
      width: 65%;
      margin: 80px 0 0 48px;
      height: 450px; }
  html body .main .container-page-2 .img-c {
    height: 20%; }
  html body .main .container-page-2 .content .arrow {
    margin: 150px 0 0 100px; }
  html body .main .container-page-2 .content .article .text {
    padding-left: 30px; }
    html body .main .container-page-2 .content .article .text h2 {
      padding-top: 9em;
      font-size: 1.3em;
      line-height: 1.5em; }
    html body .main .container-page-2 .content .article .text hr {
      margin: 10px 0; }
    html body .main .container-page-2 .content .article .text p {
      padding-right: 40px;
      font-size: 1.3em !important; }
  html body .main .container-page-2 .content .article .phone {
    padding-top: 6em; }
    html body .main .container-page-2 .content .article .phone .iphone {
      width: 88%; }
    html body .main .container-page-2 .content .article .phone .screen {
      width: 70%;
      margin: 27px 0 0 42px;
      height: 450px; }
  html body .main .container-page-3 .leftPage3 {
    right: auto; }
  html body .main .container-page-3 .content .article {
    padding-top: 250px; }
    html body .main .container-page-3 .content .article .text h2 {
      padding-top: 4em;
      font-size: 1.3em;
      line-height: 1.5em; }
    html body .main .container-page-3 .content .article .text hr {
      margin: 0.6em 0; }
    html body .main .container-page-3 .content .article .text p {
      font-size: 1.3em !important; }
    html body .main .container-page-3 .content .article .phone {
      padding-top: 0;
      margin-top: -7em; }
      html body .main .container-page-3 .content .article .phone .iphone {
        width: 81%;
        margin-top: -20px; }
      html body .main .container-page-3 .content .article .phone .screen {
        width: 64%;
        margin: 10px 0 0 45px;
        height: 450px; }
  html body .main .container-page-4 .img-y {
    height: 30%; }
  html body .main .container-page-4 .content .content-5 h2 {
    font-size: 1.3em;
    line-height: 1em; }
  html body .main .container-page-4 .content .content-5 p {
    padding: 5px 80px;
    font-size: 1.3em !important; }
    html body .main .container-page-4 .content .content-5 p br {
      display: none; }
  html body .main .container-page-4 .content .content-5 .div-phone {
    margin-left: -1em; }
    html body .main .container-page-4 .content .content-5 .div-phone .iphone2 {
      width: 41%; }
    html body .main .container-page-4 .content .content-5 .div-phone .screen {
      width: 30%;
      margin-left: 47px;
      margin-top: 33px; } }
@media only screen and (min-width: 601px) and (max-width: 767px) {
  html body .navbar {
    display: none; }
  html body .main .container .wrapper {
    max-width: 600px; }
    html body .main .container .wrapper .content {
      padding-top: 50px; }
      html body .main .container .wrapper .content .sidebar-right {
        margin-left: 0; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-icon9 {
          margin: 47%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-icon7 {
          margin: 47%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon6 {
          margin: 47%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon5 {
          margin: 47%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon4 {
          margin: 47%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon3 {
          margin: 47%; }
      html body .main .container .wrapper .content .sidebar-left {
        padding-top: 20px; }
        html body .main .container .wrapper .content .sidebar-left .div-h6 {
          padding-top: 30px;
          width: 380px; }
          html body .main .container .wrapper .content .sidebar-left .div-h6 h6 {
            font-size: 16px;
            height: 44px; }
        html body .main .container .wrapper .content .sidebar-left .slogan {
          font-size: 35px;
          padding-top: 15px;
          line-height: 40px; }
        html body .main .container .wrapper .content .sidebar-left .form {
          margin-top: 20px;
          width: 420px; }
          html body .main .container .wrapper .content .sidebar-left .form form {
            padding: 0; }
            html body .main .container .wrapper .content .sidebar-left .form form button {
              font-size: 11px;
              margin: 6px 0;
              width: 100px;
              height: 27px; }
            html body .main .container .wrapper .content .sidebar-left .form form .input {
              width: 270px;
              font-size: 10px; }
        html body .main .container .wrapper .content .sidebar-left .arrow {
          display: none; }
  html body .main .container-page-1 .img-z {
    height: 40%; }
  html body .main .container-page-1 .content {
    max-width: 600px; }
    html body .main .container-page-1 .content .article {
      padding-top: 20px; }
      html body .main .container-page-1 .content .article .phone {
        text-align: center;
        padding-top: 0; }
      html body .main .container-page-1 .content .article .text h2 {
        padding-top: 60px;
        font-size: 25px;
        line-height: 30px; }
      html body .main .container-page-1 .content .article .text hr {
        margin: 10px 0; }
      html body .main .container-page-1 .content .article .text p {
        text-align: justify;
        font-size: 15px;
        line-height: 20px; }
      html body .main .container-page-1 .content .article .text .arrow {
        display: none; }
  html body .main .container-page-2 .content {
    max-width: 600px; }
    html body .main .container-page-2 .content .article .phone {
      padding-top: 0px; }
    html body .main .container-page-2 .content .article .text h2 {
      padding-top: 60px;
      font-size: 25px;
      line-height: 30px; }
    html body .main .container-page-2 .content .article .text hr {
      margin: 10px 0; }
    html body .main .container-page-2 .content .article .text p {
      text-align: justify;
      font-size: 15px;
      line-height: 20px; }
  html body .main .container-page-3 .leftPage3 {
    display: none; }
  html body .main .container-page-3 .content {
    max-width: 600px; }
    html body .main .container-page-3 .content .article {
      padding-top: 20px; }
      html body .main .container-page-3 .content .article .phone {
        text-align: center;
        padding-top: 0; }
      html body .main .container-page-3 .content .article .text h2 {
        padding-top: 60px;
        font-size: 25px;
        line-height: 30px; }
      html body .main .container-page-3 .content .article .text hr {
        margin: 10px 0; }
      html body .main .container-page-3 .content .article .text p {
        font-size: 15px;
        line-height: 20px; }
      html body .main .container-page-3 .content .article .text .arrow {
        display: none; }
  html body .main .container-page-4 .content {
    max-width: 600px; }
    html body .main .container-page-4 .content .content-5 .div-phone .iphone2 {
      width: auto; }
    html body .main .container-page-4 .content .content-5 .text h2 {
      padding-top: 60px;
      font-size: 25px;
      line-height: 30px; }
    html body .main .container-page-4 .content .content-5 .text p {
      font-size: 15px;
      line-height: 20px; }
      html body .main .container-page-4 .content .content-5 .text p br {
        display: none; } }
@media only screen and (min-width: 420px) and (max-width: 600px) {
  html body .navbar {
    display: none; }
  html body .main .container .wrapper {
    max-width: 415px; }
    html body .main .container .wrapper .content {
      padding-top: 50px; }
      html body .main .container .wrapper .content .sidebar-right {
        margin-left: -100px; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-icon9 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-icon7 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon6 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon5 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon4 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon3 {
          margin: 68%; }
      html body .main .container .wrapper .content .sidebar-left {
        padding-top: 20px; }
        html body .main .container .wrapper .content .sidebar-left .div-h6 {
          padding-top: 30px;
          width: 380px; }
          html body .main .container .wrapper .content .sidebar-left .div-h6 h6 {
            font-size: 16px;
            height: 44px; }
        html body .main .container .wrapper .content .sidebar-left .slogan {
          font-size: 30px;
          padding-top: 15px;
          line-height: 40px; }
        html body .main .container .wrapper .content .sidebar-left .form {
          margin-top: 20px;
          width: 400px; }
          html body .main .container .wrapper .content .sidebar-left .form form {
            padding: 0; }
            html body .main .container .wrapper .content .sidebar-left .form form button {
              font-size: 11px;
              margin: 6px 0;
              width: 100px;
              height: 27px; }
            html body .main .container .wrapper .content .sidebar-left .form form .input {
              width: 270px;
              font-size: 10px; }
        html body .main .container .wrapper .content .sidebar-left .arrow {
          display: none; }
  html body .main .container-page-1 .img-z {
    height: 40%; }
  html body .main .container-page-1 .content .article {
    padding-top: 20px; }
    html body .main .container-page-1 .content .article .phone {
      text-align: center;
      padding-top: 0; }
      html body .main .container-page-1 .content .article .phone .iphone {
        width: 250px; }
      html body .main .container-page-1 .content .article .phone .screen {
        margin: 20px 0 0 35px;
        width: 180px;
        height: 400px; }
    html body .main .container-page-1 .content .article .text h2 {
      padding-top: 50px;
      font-size: 20px;
      line-height: 30px; }
    html body .main .container-page-1 .content .article .text hr {
      margin: 7px 0;
      height: 4px; }
    html body .main .container-page-1 .content .article .text p {
      text-align: justify;
      font-size: 13px;
      line-height: 20px; }
    html body .main .container-page-1 .content .article .text .arrow {
      display: none; }
  html body .main .container-page-2 .content .article .phone {
    text-align: center;
    padding-top: 0; }
    html body .main .container-page-2 .content .article .phone .iphone {
      width: 250px; }
    html body .main .container-page-2 .content .article .phone .screen {
      margin: 20px 0 0 35px;
      width: 180px;
      height: 400px; }
  html body .main .container-page-2 .content .article .text h2 {
    padding-top: 0px;
    font-size: 20px;
    line-height: 30px; }
  html body .main .container-page-2 .content .article .text hr {
    margin: 7px 0;
    height: 4px; }
  html body .main .container-page-2 .content .article .text p {
    text-align: justify;
    font-size: 13px;
    line-height: 20px; }
  html body .main .container-page-3 .leftPage3 {
    display: none; }
  html body .main .container-page-3 .content .article {
    padding-top: 20px; }
    html body .main .container-page-3 .content .article .phone {
      text-align: center;
      padding-top: 0; }
      html body .main .container-page-3 .content .article .phone .iphone {
        width: 250px; }
      html body .main .container-page-3 .content .article .phone .screen {
        margin: 20px 0 0 35px;
        width: 180px;
        height: 400px; }
    html body .main .container-page-3 .content .article .text h2 {
      padding-top: 0px;
      font-size: 20px;
      line-height: 30px; }
    html body .main .container-page-3 .content .article .text hr {
      margin: 7px 0;
      height: 4px; }
    html body .main .container-page-3 .content .article .text p {
      font-size: 13px;
      line-height: 20px; }
  html body .main .container-page-4 .content .content-5 .div-phone .iphone2 {
    width: 250px; }
  html body .main .container-page-4 .content .content-5 .div-phone .screen {
    margin: 20px 0 0 35px;
    width: 180px;
    height: 400px; }
  html body .main .container-page-4 .content .content-5 .text h2 {
    padding-top: 0px;
    font-size: 20px;
    line-height: 30px; }
  html body .main .container-page-4 .content .content-5 .text hr {
    margin-top: 7px;
    margin-bottom: 7px;
    height: 4px; }
  html body .main .container-page-4 .content .content-5 .text p {
    font-size: 13px;
    line-height: 20px; }
    html body .main .container-page-4 .content .content-5 .text p br {
      display: none; } }
@media only screen and (max-width: 419px) {
  html body .main .container .wrapper {
    max-width: 100%; }
    html body .main .container .wrapper .content {
      padding-top: 50px; }
      html body .main .container .wrapper .content .sidebar-right {
        margin-left: -100px; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-icon9 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-icon7 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon6 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-icon5 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon4 {
          margin: 68%; }
        html body .main .container .wrapper .content .sidebar-right .shape .shape-1 .shape-2 .shape-icon3 {
          margin: 68%; }
      html body .main .container .wrapper .content .sidebar-left {
        padding-top: 20px; }
        html body .main .container .wrapper .content .sidebar-left .div-h6 {
          padding-top: 0px;
          width: 90%; }
          html body .main .container .wrapper .content .sidebar-left .div-h6 h6 {
            font-size: 10px;
            height: 40px; }
        html body .main .container .wrapper .content .sidebar-left .slogan {
          font-size: 18px;
          padding-top: 0px;
          line-height: 20px; }
        html body .main .container .wrapper .content .sidebar-left .form {
          margin-top: 20px;
          width: 100%; }
          html body .main .container .wrapper .content .sidebar-left .form form {
            padding: 0; }
            html body .main .container .wrapper .content .sidebar-left .form form button {
              font-size: 9px;
              margin: 6px 0;
              width: 70px;
              height: 20px; }
            html body .main .container .wrapper .content .sidebar-left .form form .input {
              width: 76%;
              font-size: 10px;
              padding-top: 9px; }
        html body .main .container .wrapper .content .sidebar-left .arrow {
          display: none; }
  html body .main .container-page-1 .img-z {
    height: 40%; }
  html body .main .container-page-1 .content .article {
    padding-top: 20px; }
    html body .main .container-page-1 .content .article .phone {
      text-align: center;
      padding-top: 0; }
      html body .main .container-page-1 .content .article .phone .iphone {
        width: 250px; }
      html body .main .container-page-1 .content .article .phone .screen {
        width: 185px;
        height: 390px;
        margin: 23px 0 0 32px; }
    html body .main .container-page-1 .content .article .text h2 {
      padding-top: 50px;
      font-size: 18px;
      line-height: 20px; }
    html body .main .container-page-1 .content .article .text hr {
      margin: 5px 0;
      height: 3px;
      width: 70px; }
    html body .main .container-page-1 .content .article .text p {
      text-align: justify;
      font-size: 12px;
      line-height: 15px; }
    html body .main .container-page-1 .content .article .text .arrow {
      display: none; }
  html body .main .container-page-2 .content .article .phone {
    text-align: center;
    padding-top: 0; }
    html body .main .container-page-2 .content .article .phone .iphone {
      width: 250px; }
    html body .main .container-page-2 .content .article .phone .screen {
      width: 185px;
      height: 390px;
      margin: 23px 0 0 32px; }
  html body .main .container-page-2 .content .article .text h2 {
    padding-top: 0px;
    font-size: 18px;
    line-height: 20px; }
    html body .main .container-page-2 .content .article .text h2 br {
      display: none; }
  html body .main .container-page-2 .content .article .text hr {
    margin: 5px 0;
    height: 3px;
    width: 70px; }
  html body .main .container-page-2 .content .article .text p {
    text-align: justify;
    font-size: 12px;
    line-height: 15px; }
  html body .main .container-page-3 .leftPage3 {
    display: none; }
  html body .main .container-page-3 .content .article {
    padding-top: 20px; }
    html body .main .container-page-3 .content .article .phone {
      text-align: center;
      padding-top: 0; }
      html body .main .container-page-3 .content .article .phone .iphone {
        width: 250px; }
      html body .main .container-page-3 .content .article .phone .screen {
        width: 185px;
        height: 390px;
        margin: 23px 0 0 32px; }
    html body .main .container-page-3 .content .article .text h2 {
      padding-top: 0px;
      font-size: 18px;
      line-height: 20px; }
      html body .main .container-page-3 .content .article .text h2 br {
        display: none; }
    html body .main .container-page-3 .content .article .text hr {
      margin: 5px 0;
      height: 3px;
      width: 70px; }
    html body .main .container-page-3 .content .article .text p {
      font-size: 12px;
      line-height: 15px; }
  html body .main .container-page-4 .content .content-5 .div-phone .iphone2 {
    width: 250px; }
  html body .main .container-page-4 .content .content-5 .div-phone .screen {
    width: 185px;
    height: 390px;
    margin: 23px 0 0 32px; }
  html body .main .container-page-4 .content .content-5 .text h2 {
    padding-top: 10px;
    font-size: 18px;
    line-height: 20px; }
    html body .main .container-page-4 .content .content-5 .text h2 br {
      display: none; }
  html body .main .container-page-4 .content .content-5 .text hr {
    height: 3px;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px; }
  html body .main .container-page-4 .content .content-5 .text p {
    font-size: 12px;
    line-height: 15px; }
    html body .main .container-page-4 .content .content-5 .text p br {
      display: none; } }

/*# sourceMappingURL=rps.css.map */
